/****
 *
 *	Created by Kevin Dhale dela Cruz
 *	CSS file for Public Website General
 *	
****/
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/Open Sans/OpenSans-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal; }
html, body {
  height: 100%; }

#page-wrapper {
  min-height: 67.7%; }

#page-wrapper:after {
  content: "";
  display: block; }

.footer .navbar {
  min-height: 60px;
  min-width: 1200px;
  margin-bottom: 0;
  border-radius: 0;
  border: solid #17526D;
  background-color: #17526D; }
.footer a, .footer a:active, .footer a:hover, .footer a:visited {
  color: white;
  text-decoration: none; }
.footer a:active, .footer a:hover {
  color: #F8991D; }

.row-padding {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 125%; }

.container {
  min-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; }

#header-row {
  margin-top: 20px; }

#project-name {
  font-size: 40px;
  color: #17526D;
  line-height: 55px; }

#dynaslope-logo {
  /*width: 83.47px;*/
  /*73.65px;*/
  /*height: 65.79px;*/
  /*58.05px;*/
  width: 73px;
  height: 73px;
  margin: 0 13px 0 0;
  margin-top: 2px;
  vertical-align: middle;
  display: inline-block; }

#dost-phivolcs-logo {
  width: 75px;
  height: 75px;
  margin: 0 0 0 10px;
  margin-top: 2px;
  vertical-align: middle;
  display: inline-block; }

.nav-general-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px; }
  .nav-general-text span {
    display: block; }

#navigation {
  background-color: #F8991D;
  text-align: center;
  border-radius: 0;
  min-width: 1200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); }
  #navigation ul {
    white-space: nowrap;
    list-style: none;
    min-width: 1200px; }
    #navigation ul li.dropdown {
      display: inline-block;
      position: relative;
      height: 90px;
      padding: 30px 50px 0;
      font-weight: bold;
      font-size: 20px;
      transition: 0.2s;
      color: #17526D; }
      #navigation ul li.dropdown .dropdown-content {
        display: none;
        position: absolute;
        top: 90px;
        left: 0px;
        right: 0px;
        text-align: left;
        font-size: 14px;
        padding: 6px 0px;
        background-color: #F8991D;
        min-width: 185px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: 0.2s; }
        #navigation ul li.dropdown .dropdown-content a {
          padding: 1px 20px;
          color: #17526D;
          text-decoration: none;
          display: block;
          transition: 0.2s; }
        #navigation ul li.dropdown .dropdown-content a:hover {
          background-color: #EEEEEE;
          color: #F8991D; }
      #navigation ul li.dropdown span.dropdown-header {
        display: block;
        padding: 3px 20px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #17526D;
        white-space: nowrap; }
    #navigation ul li:hover {
      background-color: #ffffff;
      color: #F8991D; }
      #navigation ul li:hover .dropdown-content {
        display: table; }
    #navigation ul hr {
      margin: 5px 0px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  white-space: nowrap; }
  .sticky li {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .sticky span#logo {
    text-align: right;
    font-size: 30px;
    font-weight: 800;
    padding-top: 22px;
    color: #17526D; }

.sticky-wrapper {
  padding-top: 125px !important; }

.active-tab-nav {
  background-color: #17526D; }
  .active-tab-nav a {
    text-decoration: none;
    color: white !important; }

p {
  text-align: justify;
  text-indent: 40px;
  font-size: 16px; }

textarea {
  max-width: 100%;
  min-width: 100%; }

#page-header {
  font-size: 25px;
  font-weight: 600;
  color: #17526D;
  border: solid #17526D;
  border-radius: 6px;
  margin-bottom: 40px; }

.panel {
  padding-bottom: 8px; }
  .panel.panel-primary {
    background-color: #17526D; }
    .panel.panel-primary .panel-heading {
      background-color: #17526D;
      border: solid #17526D; }
  .panel .panel-heading .panel-title > a {
    display: block;
    text-decoration: none; }
  .panel .panel-body {
    background-color: #ffffff; }
  .panel .panel-collapse > .panel-body {
    font-size: 14px; }

.modal .modal-header {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #F8991D;
  color: #FFFFFF; }

li.active > a {
  background-color: #F8991D !important; }

select option:disabled {
  background-color: #EEEEEE; }

.btn.btn-primary {
  background-color: #17526D; }
.btn.btn-warning {
  background-color: #F8991D; }
.btn.btn-danger {
  background-color: #991B1E;
  border-color: #991B1E; }

.container-line {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 3px;
  background-color: #17526D;
  position: relative; }
  .container-line.timeline-head {
    margin-top: 30px;
    margin-bottom: 40px; }
  .container-line.tab-head {
    margin-top: 30px;
    margin-bottom: 60px; }
  .container-line.section-head {
    margin-top: 50px;
    margin-bottom: 60px; }

.circle {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #17526D;
  border: solid 1px #17526D;
  border-radius: 50%;
  position: absolute;
  top: -6px; }

.left {
  left: 0; }

.right {
  right: 0; }

.container-line-text {
  display: inline-block;
  vertical-align: middle;
  color: #17526D;
  border: solid 3px #17526D;
  border-radius: 6px;
  position: absolute;
  background-color: white; }
  .container-line-text.year {
    font-size: 14px;
    padding: 0 5px;
    top: -13px;
    left: calc(50% - 22px); }
  .container-line-text.timeline-head-text {
    top: -18px;
    left: calc(50% - 104px); }
  .container-line-text.tab-head-text {
    top: -33px; }
  .container-line-text.section-head-text {
    top: -18px; }

.base-section-div-text, .container-line-text.timeline-head-text, .container-line-text.tab-head-text, .container-line-text.section-head-text {
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px; }

/*# sourceMappingURL=dynaslope-main.css.map */
