

// ====================================
//  			Variables
// ====================================

// ==
// 
// 	Colors to be used
// 	
// ==


$primary-blue: #17526D !default;
$primary-orange: #F8991D !default;
$secondary-grey: #989898 !default;
$secondary-green: #00B200 !default;