

// ====================================
//  			Variables
// ====================================

// ==
// 
// 	Colors to be used
// 	
// ==


$primary-blue: #17526D !default;
$primary-orange: #F8991D !default;
$primary-red: #991B1E !default;
$primary-green: #006600 !default;
$secondary-grey: #989898 !default;
$secondary-green: #00B200 !default;
$secondary-red: #C9302C !default;
$secondary-blue: #32BBF8 !default;
$secondary-yellow: #FCC711 !default;
$secondary-grey: #989898 !default;